@import "tailwindcss";

/* Custom scrollbar - light dark theme */
@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: #6b7280 #1f2937;
  }

  *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  *::-webkit-scrollbar-track {
    background: #1f2937;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #6b7280;
    border-radius: 10px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #9ca3af;
  }
}